<div class="title"><%= @user.name%></div>

<div><a href="/settings/profile">Profile settings</a></div>
<div><a href="/settings/objectives">Update objectives</a></div>
<div><a href="/settings/keyresults">Update key results</a></div>
