<form action="/settings/objectives/new" method="POST">
  <div class="title">Add objective</div>
  <input class="objectives_description_input"  type="text" name="description" value="Description">
  <input class="objectives_due_input"  type="date" name="due">
  <input class="submit" type="submit" value="Add objective">
</form>
