<form action="/register" method="POST">
  Name: <input  class="settings_input" name="name" type="text"></br>
  Email: <input  class="settings_input" name="email" type="text"></br>
  Password: <input  class="settings_input" name="password" type="password"></br>
  Update frequency: <input  class="settings_input" name="update_frequency" type="text"></br>
  Alternate homepage: <input  class="settings_input" name="alternate_homepage" type="text"></br>

  <input class="submit" type="submit" value="Create user">
</form>
